<section class="f_container">

  <div class="f_header">
    <div class="f_header_content">
      <div class="navlogo">
        <a>酒家</a>
      </div>
      <div class="header_nav">
        <ul>
          <li>
            <a>首页</a>
          </li>
          <li>
            <a>我的</a>
          </li>
          <li>
            <a>关于</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="f_content">
    <div class="f_content_left"></div>
    <div class="f_content_center">
      <div class="f_card">
        <div class="f_tool_write">
          <img class="avatar_square" src="https://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLz44WGtTHNfKBcpf7eDz9qqLdXLJ6jcARC6Ow4BA27iajsXrshTcaCcYwZ83QaKLdTPTTJU6bic0Sw/132">
          <div>
            <a class="f_tool_write_item">写文章</a>
            <a class="f_tool_write_item">分享链接</a>
          </div>
        </div>
      </div>
      <div class="f_card">
        <div class="f_card_title">
          热门 | 最新 | 评论
        </div>
        <ul class="f_content_list">
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
          <li>
            <app-item></app-item>
          </li>
        </ul>
      </div>
    </div>
    <div class="f_content_right">
      <div class="f_card">
        <div class="f_card_title">
          关于<strong>酒家</strong>
        </div>
        <div class="f_card_content">
          <p>
            <a>酒家</a>
            <br/>
            <strong>我说，所有的酒都不如你</strong>
          </p>
        </div>
      </div>
      <div class="f_card">
        <div class="f_card_title">
          标签推荐
        </div>
        <div class="f_card_content">
          <app-tag></app-tag>
        </div>
      </div>
      <div class="f_card">
        <img class="img_right" src="https://gold-cdn.xitu.io/v3/static/img/frontend.1dae74a.png">
      </div>
    </div>
  </div>
  <div class="f_footer"></div>

</section>